:root {
  --moss1: #695e18;
  --moss2: #564e16;
  --moss3: #635f28;
  --moss4: #6d672e;
  --moss5: #695e18;
  --water1: #437470;
  --water2: #6b9298;
  --water3: #a7c1ce;
  --water4: #5c7c7d;
  --water5: #639797;
  --white1: #bdbac1;
  --white2: #c9ccdd;
  --white3: #c1c0c9;
  --white4: #cdd1dd;
  --white5: #bbbac1;
}

.bgImg {
    background: url("../images/header.jpg") no-repeat fixed;
    height: 100vh;
    background-position: center center;
    background-size:cover; 
}

.jumbotron {
    position: relative;
    background: transparent;
    height: 100vh;
    overflow: hidden;
}

.jumbotron .display-4{
    position: absolute;
    top: 30%;
    left: 10%;
}

.history img {
    position: relative;
    float: left;
    width: 50%;
}

.history .img2 {
    float: right;
}

h2 {
    padding-top: 5%;
}