:root {
  --moss1: #695e18;
  --moss2: #564e16;
  --moss3: #635f28;
  --moss4: #6d672e;
  --moss5: #695e18;
  --water1: #437470;
  --water2: #6b9298;
  --water3: #a7c1ce;
  --water4: #5c7c7d;
  --water5: #639797;
  --white1: #bdbac1;
  --white2: #c9ccdd;
  --white3: #c1c0c9;
  --white4: #cdd1dd;
  --white5: #bbbac1;
}

html {
     scroll-behavior: smooth;
}

.bgImg {
    background: url("../images/header.jpg") no-repeat fixed;
    height: 100vh;
    background-position: center center;
    background-size:cover; 
}

.jumbotron {
    position: relative;
    background: transparent;
    height: 100vh;
    overflow: hidden;
}

.jumbotron .display-4{
    position: absolute;
    top: 30%;
    left: 10%;
}

.history img {
    position: relative;
    float: left;
    width: 50%;
    padding: 2%;
}

.history .img2 {
    float: right;
    padding: 2%;
}

.history p {
    position: relative;
    top: 15%;
}

h2, h3{
    padding-top: 5%;
}

h3{
    position: relative;
    top: 8%;
}

/*---------------------Contact Form-------------*/
.signup-form{
  margin-top: 50px;
  color: rgb(8, 8, 8);
  max-width: 50%;
  
}
.form-group {
    margin-bottom: 40px;
}
.signup-form  h2 {
color: rgb(8, 8, 8);
  margin-bottom: 20px;
  padding-top: 20px;
}
form.signup-form {
    margin-left: 25%;
}
.signup-form p {
    font-size: 25px;
}
.text-input{
  color: rgb(8, 8, 8);
  width: 100%;
  height: 25px;
  font-weight: 400;
  margin: 5px 0 20px 0;
  border: 1px solid  rgb(8, 8, 8);;
  border-radius: 2px;
  
}
.form-control{
    height: 100px;
}

.join-button{
  margin-top: 20px;
  border-radius: 5%;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #0C3E08;
  color: #fafafa;
  display: block;
  margin-bottom: 10px;
}

.join-button:hover{
  background-color: #0C3E08;
  color: #ecf56c;
}

#attractions{
    margin-top: 10%;
}

@media only screen and (max-width: 425px) {
    .history img {
        display: none;
    }

    .history .img2 {
        display: none;
    }
}